.header {
  background-color: #ffffff;
  width: 100vw;
  padding-top: 10px;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  height: 60px;
  border-bottom: 0.3px solid rgba(40, 43, 46, 0.1);
  position: fixed;
  top: 0;
  z-index: 1;
}
.logo {
  cursor: pointer;
  height: 50px;
}

.logo img {
  padding-left: 30px;
  position: relative;
  top: 5px;
}
.logo span {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding-left: 15px;
  cursor: pointer;
}
.nav-bar {
  padding-left: 100px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(17, 17, 17);
}
a:hover {
  opacity: 0.5;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.nav-links a {
  margin-top: 0;
}
.nav-icons {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-icons img {
  margin-top: -5px;
}
.filter_btn {
  border: none;
  outline: none;
  background-color: #ffffff;
  margin-top: -5px;
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav-bar {
    padding-left: 50px;
    justify-content: space-around;
  }
  .nav-links {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 640px) {
  .logo {
    width: 100%;
    font-size: 24px;
  }
  .nav-bar {
    padding-left: 30px;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 100%;
    margin-left: 20px;
  }
  .logo span {
    font-size: 14px;
  }
  .nav-links {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .nav-icons {
    flex-direction: column;
    width: 45%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .nav-icons img {
    margin-top: 0px;
    width: 26px;
    height: 26px;
  }

  .nav-bar a {
    padding: 10px;
    font-size: 18px;
  }
  .nav-bar {
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 200px;
    z-index: 1;
    /* display: none; */

    flex-direction: column;
  }
  .logo img {
    padding-left: 10px;
  }
  .logo span {
    padding-left: 5px;
  }

  .filter_btn {
    display: block !important;
    width: 30px;
    margin-left: 300px;
  }
}
