.main-container {
  margin-top: 60px;
  width: 85%;
  background-color: #f9f9f9;
}
.shoes_container {
  margin-top: 10px;
  /* justify-content: space-evenly; */
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.shoes_details_container {
  padding: 15px 10px;
  margin: 10px;
  border: 1px solid rgba(40, 43, 46, 0.1);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.shoes_desc {
  display: flex;
  flex-direction: column;
}
.shoes_desc span {
  line-height: 16px;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-top: 5px;
}
.desc {
  opacity: 0.5;
  line-height: 25px;
}
.name {
  font-weight: 700;
}
.addtocart {
  display: flex;
  justify-content: space-between;
}
.cart_btn {
  font-size: 16px;
  height: 45px;
  max-width: 150px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(40, 43, 46, 0.1);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.cart_btn:hover {
  background-color: #454545;
  color: #fff;
}
.name_wish {
  display: flex;
  justify-content: space-between;
}
.fav_btn {
  border: none;
  background-color: #fff;
  outline: none;
}
.fav_btn img {
  cursor: pointer;
}
.fav_btn img:hover {
  opacity: 0.5;
}
@media only screen and (max-width: 1248px) {
  .shoes_container {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 850px) {
  .main-container {
    width: 75%;
  }
  .shoes_container {
    width: 100%;
  }
  .shoes_details_container {
    width: 40%;
  }
  .shoes_details img {
    width: 99%;
    height: 250px;
  }
}
@media only screen and (max-width: 640px) {
  .cart_btn {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .main-container {
    font-size: 12px;
    width: 90%;
    margin-left: 30px;
  }
  .shoes_container {
    width: 95%;
  }
  .shoes_details_container {
    width: 40%;
  }
  .shoes_details img {
    width: 90% !important;
    height: 150px !important;
  }
  .shoes_desc {
    margin-left: 10px;
    width: 90%;
    /* justify-content: center; */
    align-items: right;
  }
  .cart_btn {
    margin: 0 !important;
    height: 50px !important;
    font-size: 11px;
    background-color: #454545;
    color: #fff;
  }
  .shoes_desc span {
    width: 50%;
    word-spacing: 0px;
    letter-spacing: 0.5px;
  }
  .shoes_details_container {
    padding-left: 1px;
    padding-right: 2px;
  }

  .shoes_details {
    text-align: center;
  }

  .name_wish {
    height: 50px;
  }
}
@media only screen and (max-width: 300px) {
  .main-container {
    width: 100%;
    margin-left: 10px;
  }
  .shoes_container {
    width: 100%;
  }
}
