// * {
//   border: 1px solid black;
// }
@mixin set {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
}

.checkout_section {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  margin-top: 67px;
  min-height: 450px;
  h3 {
    width: 50%;
  }
  @media only screen and(max-width:768px) {
    flex-direction: column;
  }
}
.payment_details {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 20px;
  padding-right: 10px;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  input {
    width: 50%;
    height: 30px;
    @include set();
  }
  p {
    width: 50%;
  }
  .expery_detail {
    display: flex;
    width: 50%;
    input {
      width: 30%;
      height: 20px;
      @include set();
    }
    .expiration {
      display: flex;
      flex-direction: column;
      .expiration_detail {
        display: flex;
        span {
          padding: 10px;
          padding-top: 0;
        }
      }
    }
    .cvv {
      input {
        width: 100%;
        @include set();
      }
    }
  }
  .paynow {
    width: 15%;
    height: 30px;
    align-self: flex-end;
    margin-top: 20px;
    background-color: #023cf9;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  @media only screen and(max-width:768px) {
    width: 100%;
    padding-bottom: 10px;
    margin-left: 0;
    .paynow {
      width: 20%;
      height: 35px;
    }
  }
}
.order_summary_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px;
  @media only screen and(max-width:768px) {
    width: 100%;
    margin-left: 0;
  }
  .order_summary {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
    overflow: auto;
    .order_detail {
      width: 100%;
      display: flex;
      .order_img_container {
        width: 40%;
      }
      .product_detail {
        width: 55%;

        .order_quantity {
          margin-top: 20px;
          span {
            padding: 0 10px;
          }
          .action {
            background-color: #ececec;
            cursor: pointer;
          }
        }
      }
    }
  }
  .total_amount {
    display: flex;
    flex-direction: column;
    .amount {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .Total {
      font-weight: 800;
    }
  }
  .coupen_code {
    border-bottom: 1px solid #ececec;
    height: 100px;
    .coupen_code_area {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 30px;
      input {
        width: 70%;
        @include set();
      }
      button {
        width: 30%;

        margin-left: 10px;
        @include set();
      }
    }
  }
}
