$fontFamliy: "Poppins", sans-serif;
.main-log-container {
  margin-top: 20px;
  width: 100%;
  height: 72.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 170px;
  form {
    display: grid;

    row-gap: 10px;
    width: 30%;
    height: 150px;
    // border: 1px solid #217a70;
    input {
      font-family: $fontFamliy;

      height: 20px;
      border: 1px solid rgb(221, 218, 218);
      border-radius: 5px;
      padding: 10px;
    }
    button {
      font-family: $fontFamliy;
      width: 100%;
      height: 40px;
      border: none;
      background-color: #217a70;
      color: #fff;
      border: 1px solid rgb(221, 218, 218);
      border-radius: 5px;
      padding: 10px;
    }
  }
  @media only screen and(max-width: 768px) {
    form {
      width: 50%;
    }
  }
}
.profile_container {
  display: flex;
  justify-content: center;
}
