.wish_list_container {
  margin: 0 auto;
  margin-top: 60px;
  width: 80vw;
  background-color: rgb(86, 153, 184);
}
.wish_list_items {
  max-width: 200px;
  margin: auto;

  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(20, 20, 20, 0.3);
}
.header_fav {
  height: 30px;
  padding-top: 10px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
  letter-spacing: 2px;
  background-color: rgb(18, 116, 99);
}
@media only screen and (max-width: 768px) {
  .wish_list_container {
    width: 300px;
    top: 70px;
    right: 10px;
    height: 40vh;
  }
  .wish_list_items {
    height: 30vh;
  }
  .shoes_details img {
    width: 75px;
    height: 75px;
  }
  .shoes_desc {
    font-size: 12px;
  }
}
